<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nodelog - Sign Up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/login.css">
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    </head>
    <body>
        <div class="hero">
           <div class="form-box">
             <div class="button-box">
              <div id="btn"></div>
              
              <button type="button" class="toggle-btn" onload="register();">Register</button>
             </div>
             
              
            <div class="social-icons">
                <img src="/css/fb.png">
                <img src="/css/tw.png">
                <a role="button" href="/auth/google" role="button">
                <img src="/css/gp.png">
                </a>
            </div>
          <form id="register" class="input-group" method="POST" action="/login">
            <input type="text" class="input-field" placeholder="Email" name="username" required>
            <input type="password" class="input-field" placeholder="Password" name="password" required>
            <input type="checkbox" class="check-box"><span>I agree to <a href="/terms">Terms of Service</a></span>
            <button type="submit" class="submit-btn">Sign Up</button>
          </form>
        </div>

        </div>
            

        </div>
        <script src="/scripts/script.js" async defer></script>
    </body>
</html>